[submodule "Permissions-API"]
	path = Permissions-API
	url = https://github.com/inab/Permissions-API.git
[submodule "ipc-test-data"]
	path = ipc-test-data
	url = https://github.com/inab/ipc-test-data.git
[submodule "ipc-plugins"]
	path = ipc-plugins
	url = https://github.com/inab/ipc-plugins.git
[submodule "DAC-Notify"]
	path = DAC-Notify
	url = https://github.com/inab/DAC-Notify.git
[submodule "DAC-Management-Portal"]
	path = DAC-Management-Portal
	url = https://github.com/inab/DAC-Management-Portal.git
[submodule "DAC-Portal"]
	path = DAC-Portal
	url = https://github.com/inab/DAC-Portal.git
